.plansWrapper{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-y: auto;
}
.plansC{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 50px;

}


.planWrapper {
    flex: 1;
    border-radius: 10px;
    border: grey solid 1px;
}
.planWrapper:nth-child(2){
    transform: translateY(-30px);
}
.planWrapper:nth-child(2) .headingC{
    background-color: #A73701;
}
.planWrapper:nth-child(3) .headingC{
    background-color: #00827E;
}

.headingC{
    padding: 20px 20px 60px 20px;
    background-color: #75A9AB;
    display: flex;
    justify-content: center;
    width: 100%;

}
.imageC{
    width: 80px;
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 100px;
    background-color: #D9D9D9;
}
.imageC img{
    width: 100%;
    height: 100%;
}



.infoWrapper{
    background-color: white;
    overflow: visible;

}
.infoC{
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
    overflow: visible;
}
.planName{
    width: 100%;
    color: #555555;
    padding: 20px;
    border-radius: 10px;
    background-color: #D9D9D9;
    text-align: center;
}

.secondaryInfo{
    display: flex;
    width: 70%;
    flex-direction: column;
    text-align: center;
}
.whatYouGotHeading{
    color: #555555;
}

.bulletPointC{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px 0;
    border-bottom: solid #555555 2px;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: #555555;
}

.infoText{
    flex: 1;
}


.priceInfoAndBuyBtn{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: visible;
    transform: translateY(40px);

}
.priceC{
    display: flex;
    gap: 10px;
}
.priceLabel{
    color: #555555;
}
.price{
    padding-right: 10px;
    border-right: solid #555555 3px;
}

.perMonthLabel{
    color: #555555;
    display: flex;
    align-items: center;
}

.buyBtn{
    width: 100%;
    background-color: #75A9AB;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
}
@media (max-width: 1150px){
    .plansC{
        gap: 10px;
        padding: 50px 20px;
    }
    .secondaryInfo{
        width: 90%;
    }
}

@media (max-width: 1050px){
    .plansWrapper{
        align-items: start;
    }
    .plansC{
        flex-direction: column;
        align-items: center;
    }
    .planWrapper{
        width: 50%;
    }
    .planWrapper:nth-child(2){
        transform: translateY(0);
    }
}


@media (max-width: 750px){
    .planWrapper{
        width: 70%;
    }
}
@media (max-width: 600px){
    .planWrapper{
        width: 90%;
    }
}
@media (max-width: 500px){
    .plansC{
        padding: 50px 10px;
    }
    .planWrapper{
        width: 100%;
    }
}
