.submissionsTable{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cell.heading{
    color: white;
    text-align: center;justify-content: center;
    background-color: var(--lightBlue);
}
.cell{
    padding: 20px;
    border: solid 3px var(--lightBlue);
    border-top: none;
    color: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.cell:not(.noContent):hover{
    background-color: var(--lightBlue);
    transition: 0.1s;
    color: white;
}

.cell.createTestBtn{
    background-color: var(--darkBlue);
    border: var(--darkBlue);
    color: white;
    justify-content: center;
    order: 5;
}

.noContent{
    padding: 40px;
    justify-content: center;
}

