.main {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    padding: 10px 0;
    /*align-items: center;*/
    /*-webkit-justify-content: center;*/
}
.listC{
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    margin:0 clamp(5px,1vw,20px);

}


@media (max-width: 1200px) {
    .listC{
        margin: 0;
    }

}
@media (max-width: 1200px) {
 .main{
     padding: 5px;
 }
}

/*.clicked{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 100px;*/
/*    transform: translateY(250px) scale(3);*/
/*    opacity: 0;*/
/*    z-index: 9999;*/
/*    transition: 1s;*/
/*}*/


