.main {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex: 1;
    /*align-items: center;*/
    /*-webkit-justify-content: center;*/
}
.listC{
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;

}
/*.clicked{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 100px;*/
/*    transform: translateY(250px) scale(3);*/
/*    opacity: 0;*/
/*    z-index: 9999;*/
/*    transition: 1s;*/
/*}*/


