@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Sawarabi+Gothic&family=Unbounded:wght@200;300;400;500;600;700;800;900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');


main{
    display: flex;
}
.mainWrapper{
    background-color: #b2adad;
    padding: 7px;
    border-radius: 10px;
    height: 100%;
}
button{
    font-family: "Oswald", serif !important;
}
h1{
    font-size: 50px !important;
    font-family: "Oswald", serif !important;
    margin: 0 !important;
}
h3{
    font-size: 45px !important;
    font-family: "Oswald", serif !important;
    margin: 0 !important;
}
h4{
    font-size: 37px !important;
    font-family: "Oswald", serif !important;
    margin: 0 !important;
}

h5{
    font-size: 25px !important;
    font-family: "Oswald", serif !important;
    margin: 0 !important;
}

/*nav*/
h6{
    font-size: 18px !important;
    font-family: "Oswald", serif !important;
    margin: 0 !important;
}







h2{
    font-family: "Istok Web", serif !important;
    font-size: 40px!important;
    margin: 0 !important;
}
p{
    font-family: "Istok Web", serif !important;
    font-weight: 100 !important;
}

a{
    text-decoration: none !important;
}

