*{
    box-sizing: border-box;
    overflow: hidden;

}
#root{
    height:100%;
    --darkRed: #7E0030;
    --lightRed: #A73701;
    --lightBlue: #75A9AB;
    --darkBlue: #4C6A69;
}
body,html{
    margin: 0;
}
body{
    height: 100vh;
    padding: 5px;
}

