
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


@font-face {
    font-family: 'caveat'; /* Choose a name for your font */
    src: url('client/public/fonts/caveat.bold.ttf') ; /* Update the path and format */
}
@font-face {
    font-family: 'BAHNSCHRIFT'; /* Choose a name for your font */
    src: url('client/public/fonts/BAHNSCHRIFT.ttf') ; /* Update the path and format */
}
@font-face {
    font-family: 'shantell1'; /* Choose a name for your font */
    src: url('client/public/fonts/shantell/ShantellSans-Italic-VariableFont_BNCE,INFM,SPAC,wght.ttf') ; /* Update the path and format */
}



.bookDetailsWrapper{
    font-family: "Shantell Sans", serif;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 500px;
    --sectionsWidth: 80%
}

.bookNameAndRating {
    display: flex;
    width: var(--sectionsWidth);
    margin: 0 auto;
}



.bookName{
    padding: clamp(10px,3vw,20px);
    font-weight: bolder;
    flex: 1;
    text-align: center;
    overflow-wrap: break-word;
    /*background-color: #D9D9D9;*/
    margin: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    background: radial-gradient(circle at center, #a73701, transparent 90%),
    linear-gradient(to left, #7e0030, transparent 70%),
    linear-gradient(to right, #7e0030, transparent 70%);


}
.ratingC{
    /*width: 100%;*/
    /*height: 100%;*/
    display: flex;
    align-items: center;
    background-color: #7e0030;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rating{
    background-color: #540021;
    color: white;
    /*transform: translateX(-40px);*/
    padding: clamp(10px,3vw,20px);
    font-size: clamp(20px,5vw,34px);
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /*font-weight: bolder;*/
}








.bookImageAndResume{
    display: flex;
    width: var(--sectionsWidth);
    height: 750px;
    background-color: #859D7A;
    margin: 50px auto;
    padding: 60px;
    border-radius: 20px;
    gap: 30px;

}
.bookImageAndResume>*{
    flex: 1;
}





.image{
    position: relative;
}
.image img{
    height: 100%;
}
.adminBtnsC{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
}
.adminBtn{
    width: 100%;
    border: none;
}

.adminBtn:first-child{
    background-color: #fcff20;
}
.adminBtn:last-child{
    background-color: #ff0d0d;
}
.wishBtnIcon,
.likeBtnIcon{
    position: absolute;
    top: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    background-color: white;
    border: solid black 4px;
    aspect-ratio: 1/1;
}
.wishBtnIcon{
    left: 10px;
}
.likeBtnIcon{
    right: 10px;
    width: 47px;
}
.wishBtnIcon:hover,
.likeBtnIcon:hover{
    cursor: pointer;
}

.likeBtnIcon i{
    transform: translateY(-2px);
}
.resumeAndBtns{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.resume{
    flex: 1;
    /*max-height: 100px;*/
    overflow-y: auto;
    margin-bottom: 20px;
    color: white;
}
.resumeHeading{
    padding-bottom: 20px;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    font-size: 30px;
    gap: 20px;
}
.btns>*{
    /*height: 100%;*/
    width: 100%;
}
.bookImageAndResume .btn,
.bookImageAndResume .readBtn{
    flex: 1;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #859D7A;
    font-size: 24px;
    border: solid #859D7A 2px;
    height: 100%;
}
.bookImageAndResume .btn:first-child{
    /*height: 100% !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #859D7A;
    color: white;
    border: solid white 2px;
}




















.resumeAndBookImage{
    display: flex;
    max-width: 80%;
    /*max-height: 750px;*/
    margin:150px auto 0 auto;
}

.resumeAndBookImage>*{
    flex: 1;

}



.resumeWrapper,
.bookImageWrapper{
    display: flex;
}
.bookImageWrapper{
justify-content: flex-end
}
.image{
    border-radius: 20px;
}
/*.resume{*/
/*    justify-self: flex-start;*/
/*    background-color: #75A9AB;*/
/*    !*width: 80%;*!*/
/*    max-width: 600px;*/
/*    padding: clamp(10px,4vw,50px);*/
/*    color: white;*/
/*    max-height: 600px;*/
/*    font-weight: bolder ;*/

/*}*/

/*.resume p {*/

/*    !*font-family: "Shantell Sans", serif;*!*/
/*    font-family:  Calibri;*/
/*    font-size: 20px;*/
/*    height: 100%;*/
/*    overflow-y:auto;*/
/*    margin: 0;*/
/*    word-wrap: break-word;*/
/*}*/
.bookImageC{
    width: 70%;
    justify-content: center;
    /*margin: 0 200px;*/
    height: fit-content;
    border-radius: 40px;
    border-top: 30px solid #4C6A69;
}



.image img{
    width: 100%;
}

/*.btns{*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.btn{*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 15px;*/
/*    font-weight: bolder ;*/
/*    font-size: 25px;*/
/*    !*font-family: "Shantell Sans", serif;*!*/

/*}*/
.btn:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

.editBtn{
    background-color: #FFE500;
    color: black;
}
.deleteBtn{
    background-color: #7E0030;
}
.buyBtn{
    background-color: #75A9AB;
}


.bookDetailsTableWrapper{
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.bookDetailsTable{
    /*min-width: 30%;*/
    width: var(--sectionsWidth);
    border-radius: 20px;
    /*max-width: 700px;*/
}

.row{
    display: flex;
    border-bottom: solid grey 1px;
    transition: 1s;

}
.cell{
    /*flex: 1;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: clamp(10px,4vw,50px);
    /*border-bottom: solid white 0.1px;*/
}
.cell:first-child{
    min-width: 260px;
    max-width: 260px;
    background-color: #4C6A69;
}
.cell:last-child{
    flex-grow: 1;
    background-color: #859D7A;
}

.row.closed{
    height: 0;
}

.tableHeading{
    margin: 0;
    font-weight: 800;
    font-size: clamp(15px,5vw,35px);
    padding: 0 5px;
    flex-wrap: wrap;
    text-wrap: normal;
    white-space: break-spaces;
}
.authorDesc{
    font-size: clamp(15px,5vw,25px);
    /*font-weight: lighter !important;*/
}

.freeChaptersBtnAndReadBtnWrapper{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.freeChaptersBtnAndReadBtnC{
    width: 70%;
    display: flex;
    justify-content: center;
    height: fit-content;
}


.freeChaptersBtnAndReadBtnC .btn{
    flex: 1;
    font-size: 20px;
    padding: 30px;
    /*height: 100%;*/
}

.freeChaptersBtnAndReadBtnC .btn:first-child{
    background-color: #A73701;

}
.freeChaptersBtnAndReadBtnC .btn:last-child{
    background-color: #859D7A;
}









.feedbackWrapper{
    margin-top: 200px;
}

.feedbackCHeading{


    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px !important;
    /*font-family: "Shantell Sans", serif;*/

}

.feedbacksC{
    width: var(--sectionsWidth);;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px
}

/*.feedback{*/
/*    padding: 30px;*/
/*    border-radius: 20px;*/
/*    background-color: #75A9AB;*/
/*}*/

/*.pictureAndName,*/
/*.picAndNameC{*/
/*    display: flex;*/
/*}*/
/*.pictureAndName{*/
/*    justify-content: space-between;*/
/*    !*align-items: center;*!*/
/*}*/
/*.picture{*/
/*    width: 80px;*/
/*    border-radius: 1000px;*/
/*    aspect-ratio: 1/1;*/
/*}*/
/*.picture img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.userName{*/
/*    padding-left: 20px;*/
/*    display: flex;*/
/*    align-items: end;*/
/*    color: white;*/
/*    font-weight: lighter;*/
/*}*/



/*.message{*/
/*    margin: 0;*/
/*    padding-top: 10px;*/
/*    font-weight: bolder !important;*/
/*    color: white;*/
/*}*/
.feedback{
    background-color: #859D7A;
    border-radius: 20px;
    display: flex;
    color: white;
    position: relative;

}

.userInfo{
    background-color: #4C6A69;
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex: 0 0 auto;
}

.noText{
    flex: 1;
}
.feedBackInfo{
    padding: 20px;
    padding-right: 70px;

}


.pictureC{
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 100px;
}
.pictureC img{
    width: 100%;
    height: 100%;
}








.showMoreBtn{
    width: fit-content;
    align-self: flex-end;
    background-color: #A73701;
    border-radius: 20px;
    padding: 15px 40px;
    color: white;
}











.moreBooksWrapper{
    /*overflow: scroll;*/
    margin: 150px 70px 0 70px;
    /*width: 100%;*/
    position: relative;
}













.helpfulInformationWrapper{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}












.noContentInThisSectionWrapper{
    background-color: #7E0030;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    max-width: 650px;
}
.noContentInThisSectionC{
    background-color: #a73701;
    border-radius: 15px;
    padding: 30px;
    color: white;
    text-align: center;
}

.noContentBtn{
    padding: 10px 40px;
    background-color: #7E0030 ;
    border-radius: 10px;
    border: solid 2.5px white;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.noContentBtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}








@media (max-width: 1400px) {
    .resumeAndBookImage{
        flex-direction: column;
        gap: 150px;
        align-items: center;
    }
    .bookImageWrapper,
    .resumeWrapper{
        justify-content: center;

    }
    .resumeWrapper{
        order: 2;

    }
    .bookImageWrapper{
        order: 1;
        max-width: 70%;
    }
}

@media (max-width: 1300px) {
    .resume{
        width: 100%;
    }
    .bookImageAndResume{
        /*flex-direction: column;*/
        height: fit-content;
        align-items: center;
        padding: 20px;

        /*max-height: 1700px;*/
    }
    .resumeAndBtns{
        flex: 1;
        height: 100%;
    }
    .bookImageAndResume .image{
        width: 35%;
    }
    .bookImageAndResume .btn{
        height: 100%;
    }


}
@media (max-width: 1000px) {
    .bookImageC{
        width: 80%;
    }
    .row{
        flex-direction: column;
    }
    .cell:first-child{
        max-width: 100%;
        width: 100%;
    }
    .btns{
        flex-direction: column;
    }

    .bookDetailsWrapper{
        --sectionsWidth: 90%
    }
}
@media (max-width: 800px){
    .freeChaptersBtnAndReadBtnC{
        flex-direction: column;

        /*width: 90%;*/
    }
    .bookImageAndResume{
        flex-direction: column;
        padding: 60px;
        text-align: center;
    }

    .bookNameAndRating{
        /*transform: translateX(30px);*/
        /*width: 90%;*/

    }
    .bookImageWrapper{
        max-width: 100%;
    }

    .bookImageAndResume .image{
        width: 100%;
    }
}
@media (max-width: 750px){
    .noContentInThisSectionWrapper{
        width: 80%;
    }
}
@media (max-width:700px) {
    .feedback{
        flex-direction: column;
        align-items: center
    }
    .userInfo{
        width: 100%
    }
    .feedBackInfo{
        padding: 20px;
    }


}
@media (max-width:600px) {
    .picAndNameC{
        flex-direction: column;
        align-items: center;
    }

}


@media (max-width:500px){
    .moreBooksWrapper{
        /*transform: scale(0.5);*/

        margin: 100px 10px 0 10px;
    }
    .moreBooksC{
        overflow: scroll;
    }
    .arrowRight,
    .arrowLeft{
        display: none;
    }
    .freeChaptersBtnAndReadBtnC{
        width: 90%;
    }
    .freeChaptersBtnAndReadBtnWrapper,
    .feedbackWrapper,
    .bookDetailsTableWrapper,
    .resumeAndBookImage{
        margin-top: 100px;
    }
    .resumeAndBookImage{
        max-width: 90%;
    }
    .bookNameAndRating{
        /*width: 90%;*/
        /*transform: translateX(30px);*/

    }
    .resume{
        /*width: 90%;*/
    }
    .bookImageC{
        width: 80%;
    }
    .btns{
        flex-direction: column;
        align-items: center;
    }
    .btns .btn:last-child{
        /*width: 80%;*/
    }
    .bookImageAndResume{
        /*width: 95%;*/
        padding: 20px;
    }


@media (max-width: 400px){
    .noContentInThisSectionWrapper{
        width: 95%;
    }
}


}
