

.testDashboardWrapper{
    overflow-y: auto;
    color: var(--lightBlue);
    padding: 50px;
}
.header{
    padding-bottom: 30px;
}
.number{
    font-size: 30px;
    color: var(--lightRed);
}
.stats{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}
.tables{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
