.myBooksListWrapperWrapper{
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
.myBooksListWrapper{
    width: 80%;
    height: fit-content;
    margin: 50px auto 0 auto;
    background-color: #4C6A69;
    border-radius: 20px;
    padding: 20px;
}
.readBookAndMyBooksWrapper{
    display: flex;
    flex: 1;
    overflow: visible;
}
.heading{
    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 20px !important;
    word-break: break-word;

}
.myBooksListC{
    /*display: flex;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #75A9AB;
    border-radius: 20px;
    padding: 20px;
}
.readBookAndMyBooksWrapper>*{
    flex: 1;
}
.myBooksWrapper{
    position: relative;
    border-radius: 20px;
    background-color: #A73701;
    padding: 10px;
    z-index: 10;
    height: 600px;
    overflow: hidden;
}
.myBooksC {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    overflow: hidden; /* Ensure child elements don't overflow */
}

.myBooksC::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/libraly.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0; /* Place the pseudo-element behind the content */
    opacity: 0.3; /* Adjust the opacity as needed (0.0 to 1.0) */
}

.readBookWrapper{
    /*transform: translateY(60px);*/
    overflow: visible;
}

.searchBarC{
    position: absolute;
    top: 65px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    margin-top: 20px;
    z-index: 999999;
}

.myBooksScrollerWrapper{
    flex: 1;
    margin-top: 55px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 60px;
    position: relative;
}
.myBooksScrollerC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.readBookC{
    overflow: visible;
}

.clicked{
    position: fixed;
    top: 0;
    left: 300px;
    transform: translateY(250px) scale(3);
    opacity: 0;
    transition: 2s;
    z-index: 9999;
}

.continueReadingBtnWrapper{
    display: flex;
    justify-content: center;
    margin-top: 95px;
}
.buttonFundament{
    width: 60%;
    background-color: #7E0030;
    padding: 5px;
    text-overflow: ellipsis;
    word-break: break-word;
}
.btnCover{
    width: 0;
    height: 100%;
    background-color: orange;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;


}
.continueHeading{
    position: relative;
    z-index: 1;
    transition: 1s;
}
.btnCore{
    padding: 20px;
    background-color: white;
    position: relative;

}
.buttonFundament:hover {
    cursor: pointer;
}
.buttonFundament:hover .btnCover{
    width: 100%;
}








.noContentInThisSectionWrapper{
    background-color: #7E0030;
    padding: 10px;
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    max-width: 650px;
}
.noContentInThisSectionC{
    background-color: #a73701;
    border-radius: 15px;
    padding: 30px;
    color: white;
    text-align: center;
}

.noContentBtn{
    padding: 10px 40px;
    background-color: #7E0030 ;
    border-radius: 10px;
    border: solid 2.5px white;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.noContentBtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.buyBookBtn{
    background-color: #a73701;
}


@media (max-width: 1400px){
    .readBookAndMyBooksWrapper{
        flex-direction: column;

    }
    .readBookAndMyBooksWrapper>*{
        flex-basis: auto;
    }
    .myBooksWrapper{
        height: 700px;
    }


    .heading{
        margin-bottom: 0px !important;
    }

    .readBookWrapper{
        display: flex;
        /*height: 1500px;*/
        margin-bottom: 100px;
        justify-content: center;
    }
}
@media (max-width: 1000px){
 .buttonFundament{
     width: 75%;
 }
}
@media (max-width: 750px){
    .noContentInThisSectionWrapper{
        width: 80%;
    }
}
@media (max-width: 700px){
    .myBooksListWrapper{
        width: 95%;
    }
    .buttonFundament{
        width: 80%;
    }
}
@media (max-width: 600px){
    .readBookWrapper{
        transform: scale(0.7) ;
    }
}
@media (max-width: 450px){

    .buttonFundament{
        width: 95%;
    }
    .searchBarC{
        top: 120px;
    }
}
@media (max-width: 400px){
    .myBooksListWrapper{
        padding:8px;
    }
    .myBooksListC{
        padding-left: 5px;
        padding-right: 5px;
    }
    .noContentInThisSectionWrapper{
        width: 95%;
    }



}
