.storyWrapper{
    background-color: #939393;
    padding: 10px;
    border-radius: 10px;
    height: 1000px;
    max-height: 100%;
    /*min-width: 400px;*/
    max-width: 600px;
    position: relative;
}
.story{
    padding: 30px;
    border-radius: 10px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 0;

}
.story>*{
    flex-grow:1 ;
}
.btns{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    max-height: 100px;
    overflow: visible;


}


.btns .btn{
    padding:15px 40px;
    display: flex;
    align-items: center;
    color: white;
    border: none;
    border-radius: 100px;
}

.btns .btn:first-child{
    background-color: #4C6A69;
}
.btns .btn:nth-child(2){
    background-color: #A73701;
}
.btns .btn:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}












.testsWrapper{
    width: 100px;
    margin: 0;
    border-radius: 1000px;
    background-color: #D9D9D9;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
    align-self: start;
    /*margin-top: 50px;*/
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999999;
    font-size: 14px;
    border: solid black 1px;
    /*transform: translateY(50%);*/

}


.testsWrapper .btn{
    border: none;
    border-radius: 100px;
    aspect-ratio: 1/1;
    color: white;
}
.testsWrapper .btn:not(.testIcon){
    padding: 10px;
}
.testsWrapper .btn.textWordsTest{
    background-color: #7E0030;
    text-decoration: none;
}
.testsWrapper .btn.textTest{
    background-color: #75A9AB;
}
.btn.testIcon{
    width: 100%;
    padding:0;
}
.testIcon img{
    width: 100%;
}
.btnIcon{
    font-size: 30px;
    display: none;
}



/*.btns{*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/
/*.btns>*{*/
/*    flex: 1;*/
/*}*/
/*.btns .navigationBtns,*/
/*.btns .testBtns*/
/*{*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.btns .navigationBtns>*{*/
/*    padding: 15px 40px;*/
/*    border-radius: 20px;*/
/*    color: white;*/
/*    border: none;*/
/*}*/
/*.btns a {*/
/*    padding: 15px 10px;*/
/*}*/
/*.btn:disabled{*/
/*    opacity: 0.4;*/
/*    cursor: not-allowed;*/
/*}*/
/*.previousChapter{*/
/*    background-color: #ae3fff;*/
/*}*/
/*.nextChapter{*/
/*    background-color: #5eff4e;*/

/*}*/
.textContainer{
    padding: 25px;
    overflow: auto;
    height: 100%;
    box-shadow: inset 0 0 45px rgba(0,0,0,0.8);
    border-radius: 5px;

}
.storyWrapper *::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.storyWrapper *::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Handle */
.storyWrapper *::-webkit-scrollbar-thumb {
    background: #888;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Handle on hover */
.storyWrapper *::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media (max-width: 1200px){
    .testsWrapper{
        display: flex;
    }
    .btnName{
        display: none;
    }
    .btnIcon{
        display: block;
    }
    .btns{
        height: 140px;
        align-items: center;
    }
    .btns .btn:not(.testsWrapper .btn){
        padding: clamp(30px,6vw,50px)  ;
        height: 54px;
    }

}


@media (max-width: 600px) {
    .storyWrapper{
        padding: 5px;
    }
    .story{
        padding: 5px;
    }
    .textContainer{
        padding: 15px;
    }
}

@media (max-width: 450px) {
    .btns{
        /*transform: translateX(-20px);*/
        justify-content: flex-start;
        gap: 20px;
    }
}