.freeChapterC{
    position: relative;
    width: 300px;
    padding: 40px;
    background-color: #859D7A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /*transform: scale(0.5);*/
    font-family: "Shantell Sans", serif;

}
.freeLabel{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
    background-color: red;
    color: white;
    font-weight: bolder;
    transform:translateX(-30%) translateY(50%) rotate(-45deg)  ;
}
.imgC{
    border-radius: 20px;
    width: 150px;
    aspect-ratio: 1/1;
}
.imgC img{
    width: 100%;
    height: 100%;
}
.heading{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
}
.btn{
    display: block;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight:  bolder;
    font-size: 20px;
    width:   100%;
    color: white;
}
.readBtn{
    background-color: #A73701;
}
.viewBookBtn{
    background-color: #7E0030;
}
@media (max-width: 500px){
    .freeChapterC{
        transform: scale(0.7);
    }
}
