.wrapper{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper >*{
    /*z-index: 1;*/
    position: relative;
}
.searchBarWrapper{
    display: flex;
    /*transform: translateX(-50%);*/
    justify-content: center;
    position: absolute;
    left: 50%;
    height: 400px;

}
.searchBarC{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    width: 300px;
    position: relative;
    z-index: 9999;



}
.searchBarC input{
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    border: none;
    width: 100%;
}
.searchBarC input:focus{
    outline: none;

}
.autoCompletionC{
    top: 11%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    width: 100%;
    position: absolute;
    z-index: 1;
    justify-self: center;
    height: fit-content;
    border-radius: 20px;
    /*transform: translateZ(0);*/
}

.autoCompletion{
    width: 0;
    background-color: pink;
    transition: 0.7s;
    height: fit-content;
}
.completion{
    padding: 10px;
    white-space: nowrap;
    margin: 0;
}
.completion:hover{
    cursor: pointer;
    background-color: #00bed8;
}
.searchBarC input:focus ~ .autoCompletionC{
    display: flex;

}
.searchBarC input:focus ~ .autoCompletionC .autoCompletion{
    width: 100%;
}



.bookWrapper{
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

.booksC{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 45px;
}
.bookC{
    text-decoration: none   ;
    color: black;
    border-radius: 20px;
    max-width: 200px;
    margin: 15px;
    transition: 0.5s;
    box-shadow: 0 0 10px 5px rgb(53, 174, 31);
}
.bookC:hover{
    transform: translateY(-10px);
}
.bookC img{
    width: 100%;
}
.heading{
    text-align: center;
    padding: 10px;
    background-color: #c8c8c8;
    margin:0;
}
.heading:nth-child(odd){
background-color: #b5b5b5;
}
.filterIcon{
    position: absolute;
    background-color: #309BFF;
    padding: 10px;
    border-radius: 200px;
    aspect-ratio: 1/1;
}
.filterIcon:hover{
    cursor: pointer;
}
.filterMenu{
    display: block;
    position: absolute;
    background-color: white;
    padding: 20px;
    padding-top: 50px;
    height: 100%;
}


[data-isowned=true]{
    box-shadow: 0 0 10px 5px rgb(37, 61, 157);

}


.xmark{
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 10px;
    transform: translateX(-50%);
    padding: 10px;
    transition: 0.7s;
    border-radius: 10px;

}
.xmark:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}