.wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 30px 0;

}
.container{
    width: 40%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.heading{
    text-align: center;
    font-weight: bolder;
    margin:  10px 0;
    font-size: 27px;
    height: fit-content;
}
.noWordsC{
    text-align: center;
}
.hr{
    margin: 10px;
}
.wordsWrapper {
    height: 100%;
    overflow: auto;
    position: relative;
}
.wordsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.headingAndCountC{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    overflow: visible
}
.headingAndCountC .count{
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    background-color: #383838;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    font-weight: bolder;
}
.row{
    width: 80%;
    border-radius: 20px;
    background-color: #c3c3c3;
}
.summary{
    padding: 20px;
    background-color: #D9D9D9;

    display: flex;
    justify-content: space-between;
}
.summary i{
    display: flex;
    align-items: center;
}
.row .translation{
    margin: 15px 20px !important;
}
.buyBtnWrapper{
    display: flex;
    justify-content: center;
}
stripe-buy-button{
    border-radius: 5px;
    padding: 20px;
    background-color: white;

}


@media (max-width: 1000px){
    .container{
        width: 70%;
    }
}
@media (max-width: 500px){
    .container{
        width: 95%;
    }
}