.detailsWrapper{
    background-color: white;
    border-radius: 5px;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    position: relative;
    /*align-items: center;*/
}
.detailsC{
    height: fit-content;
    padding: 40px;
    flex: 1;
}

.title{
    font-weight: bolder ;
}
.date{
    font-weight: bolder;
    color: grey;
}
.imgC{
    /*padding: 20px;*/
    border-radius: 15px;
    margin: 20px 0;
    max-width: 600px;
}
.imgC>*{
    object-fit: cover;
    width: 100%;
}
.content{
    padding:10px;
}
.translationC{
    /*position: sticky;*/
    height: fit-content;
    /*display: flex;*/
   /*align-items: center;*/
}


@media (max-width: 500px){
    .detailsWrapper{
        padding:0;
    }
    .detailsC{
        padding: 10px;
    }
    .content{
        padding: 10px;
    }
}