
.translationWrapperOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999999;
    opacity: 0.2;
    background-color: black;
}
.translationC{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 60%;
    min-width: 420px;
    max-width: 820px;
    height: 40vh;
    z-index: 99999999999;
    background-color: white;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 50px;
    overflow-y: auto;
    transform:translateX(-50%) translateY(100%);
    animation: immersion 0.5s;
}
.translationC.emerged{
    animation: emerge 0.5s;
    transform:translateX(-50%) translateY(0);

}


.sentenceC{
    display: flex;
    flex-wrap: wrap;
}
.word{
    padding: 5px 5px;
    border-radius: 10px;
}
.word:hover{
    background-color: var(--lightRed);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.sentenceTranslationC{
    position: relative;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F4F4F4;
    color: #6C6C6C;
}

.xmark{
    position: absolute;
    right: 25px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 5px;
    font-size: 20px;
    border-radius: 100px;
    transition: 0.2s;
    align-self: flex-end;
    color: white;
    background-color: var(--lightBlue);
}
.xmark:hover{
    background-color: var(--darkBlue);
    color: white;
    cursor: pointer;
}


.wordDetailsC{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    padding: 0 10px;
}
.detailPair{
    display: flex;
    gap: 10px;
}
.detailLabel{
    color: #828282;
    display: flex;
    align-items: end;
}
.detailValue{
    color: #A73701;
    font-size: 25px !important;
}
.detailValueLink{
    color: var(--lightBlue);
    text-decoration: underline;
    text-underline: var(--lightBlue);
    font-size: 25px !important;
    cursor: pointer;
}


.wordExamplesPopup{
    color: var(--lightBlue);
}
.heading{
    text-decoration: underline;
    padding-bottom: 20px;
}
.examplesC{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.examplePair{

}
.translation{
    min-height: 50px;
    color: var(--darkBlue);
}


.wordContainersLAbelAndBtn{
    display: flex;
    flex-direction: column;
}
.saveWordCBtn{
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--lightBlue);
    padding: 3px 15px;
    margin-top: 10px;
    width: fit-content;
}
.wordContainersC{
    padding: 20px;
    background-color: #F4F4F4;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.wordContainerC{
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;

}
.wordContainerC:hover{
    filter: brightness(0.85); /* Darken the color by 15% */
}


.wordContainersC:has(.clickedWordContainer)>*:not(.clickedWordContainer){
    opacity: 0.4;
}
@media (max-width: 420px){
    .translationC{
        min-width: 320px;
    }
}


@keyframes emerge {
    0% {
        transform:translateX(-50%) translateY(100%);
    }
    100% {
        transform:translateX(-50%) translateY(0);
    }
}
@keyframes immersion {
    0% {
        transform:translateX(-50%) translateY(0);
    }
    100% {
        transform:translateX(-50%) translateY(100%);
    }
}

/*@media (max-width:1200px){*/
/*    .container{*/
/*        position: fixed;*/
/*        top: 50%;*/
/*        left: 50%;*/
/*        transform: translate(-50%, -50%);*/
/*        z-index: 999;*/
/*        max-height: 80%;*/
/*    }*/
/*    .visible + .overlay{*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media (max-width:800px){*/
/*    .container{*/
/*        margin-top: 40px;*/
/*    }*/
/*}*/
