
/**{*/
/*    font-family: Inter;*/
/*}*/

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    border: solid 1px black;
    height: fit-content;
    border-radius: 20px;
    background-color: #EBEBEB;

}
.heading{
    margin-bottom: 20px!important;
    margin-left: 10px!important;
}
.textForTranslate{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.word{
    border-radius: 10px;
    padding: 5px;
}
.word:hover{
    cursor: pointer;
    background-color: #a6a600;
}
[data-isclicked="true"]{
    background-color: #a6a600;

}
.saveWords{
    border: none;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 5px;

}
.translation{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.xmark{
    width: fit-content;
    padding: 10px;
    border-radius: 100px;
    transition: 0.3s;
    align-self: flex-end;
}
.xmark:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
@media (max-width:1200px){
    .container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999999;
    }
    .visible + .overlay{
        display: block;
    }
}
