.arrowLeft,
.arrowRight{
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    aspect-ratio: 1/1;
    background-color: #75a9ab;
    z-index: 99;
    border-radius: 100px;
    transform: translateY(-50%);
    color: white;
}
.arrowLeft:hover,
.arrowRight:hover{
    cursor: pointer;
    color: black;
}


.arrowRight{
    right: 0;
}
.arrowLeft{
    left: 0;
}
.itemsC {

    display: flex;
    gap: 30px;
    width: fit-content;
    transition: transform 1s;

}

.moreOfThisGenre{
    margin-bottom: 40px;
    text-align: center;
    font-family: "Shantell Sans", serif;
}
.itemsContainer{
    /*overflow-x: scroll;*/
    border-radius: 10px;
}
.scrollerContainer{
    position: relative;
    padding: 0 60px;
}


@media (max-width:700px) {

    .scrollerContainer{
        padding:0;
    }
    .itemsContainer {
        overflow-x: scroll;
    }

    .arrowRight,
    .arrowLeft {
        display: none;
    }
}