.profileWrapper{
    overflow-y: auto !important;
}

.profileC{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.heading{
    color: #A73701;
    text-align: center;
    margin: 50px 0 !important;
}
.profileCredC{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.credentialInfos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.credential{
    display: flex;
    color: #75A9AB;
    gap: 20px;
}

.info{
    border-bottom: 2px solid #75A9AB;
    padding:  0 5px 5px 5px;
    flex-grow: 1;
    font-size: 22px;
    margin: 0!important;
}

.info span{
    font-size: 70%;
}

.changeBtn{
    border-radius: 100px;
    padding: 5px 40px;
    color: white;
    background-color: #75A9AB;
    border: none;
}
.subscriptionInfo{
    background-color: #7E0030;
}

.imageC{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.userImage{
    border: solid black 1px;
    width: 200px;
    object-fit: contain;
    aspect-ratio: 1/1;
}







.expWrapper{
    width: 100% ;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
    gap: 10px;
}


.expC{
    border-radius: 100px;
    height: 10px;
    width: 80%;
    background-color: #D9D9D9;
    display: flex;
}

.fragment{
    flex: 1;
    border-right: 1px grey solid;
}

.fragment:last-child{
    border: none;
}

.fragment:first-child{
    background-color: #75A9AB;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-right: none;
}







.testsC{
    width: 60%;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
}


.testInfo{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    color: #75A9AB;
    font-size: 30px;
    gap: 20px;
}

.number{
    font-size: 150%;
    font-weight: bolder;
    transform: translateY(-4px);

}


.testName{
    margin: 0!important;
}
@media (max-width: 1500px){
    .testInfo{
        font-size: 30px;
    }
}
@media (max-width: 980px){
    .testsC{
        gap: 60px;
    }
    .testInfo{
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
    .number{
        transform: translateY(0);

    }
}










/*.dashboardWrapper{*/
/*    flex: 1;*/
/*    background-color: white;*/
/*    padding-top: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.dashboardWrapper>*{*/
/*    flex: 1;*/
/*}*/
/*.summaryWrapper{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*}*/
