.dashboardWrapper{
    flex: 1;
    background-color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.dashboardWrapper>*{
    flex: 1;
}
.summaryWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
