.testDoneContainer{
    display: flex;
    flex-direction: column;
    background-color: #4C6A69;
    padding: 30px;
    border-radius: 20px;
    color: white;
    text-align: center;
    height: fit-content;
    margin: auto 0;
}
.rowsC{
    display: flex;
    flex-direction: column;
    background-color: #75A9AB;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
.row{
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: white;
}
.row:not(:first-child){
    border-top: 1px #4C6A69 solid;

}
.row>*{
    text-wrap: normal;
    flex: 1;
}
.proceedBtn{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #76f200;
    border-radius: 10px;
    border: none;
    color: white;
}

@media (max-width: 450px){
    .testDoneContainer{
        padding: 10px;
        padding-bottom: 20px;
    }
}