.levelWrapper{
    position: absolute ;
    left: 50%;
    top: -100%;
    width: 70%;
    padding:50px;
    padding-bottom: 35px;
    border: solid black;
    border-bottom-right-radius: 23px;
    border-bottom-left-radius: 23px;
    transform: translateX(-50%);
    background-color: white;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999;
    transition: 1000ms;
}
.levelBarC{
    width: 100%;
    background-color: #dbdbdb;
    border-radius: 100px;
    height: 20px;

}
.levelBarProgress{
    width: 0;
    position: relative;
    background-color: #75A9AB;
    height: 100%;
    transition: 2s ease-in-out;
    border-radius: 23px;
}

.btnAndLevelInfo{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.levelInfo{
    display: flex;
    align-items: end;
    gap: 10px;
}
.levelInfo p{
    margin: 0;

}

.viewTrophyRoad{
    background-color: white;
    border: solid #A73701 2px;
    border-radius: 100px;
    padding: 10px 30px;
    color: #A73701;
}
.xmark{
    position: absolute;
    right: 15px;
    top: 15px;
}
.xmark:hover{
    cursor: pointer;
}


.arrow {
    position: absolute;
    top: 10%;
    right: 0;
    transform:rotate(-90deg) translate(1450%, -250%) ;
    cursor: pointer;
    overflow: visible;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}