


.landingPageWrapper{
    overflow: auto;
    /*font-family: "Shantell Sans", serif;*/
    padding-bottom: 300px;
}
.helpfulInformationWrapper{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.freeChaptersWrapper{
    /*overflow-x: scroll;*/
    width: 90%;
    /*transform: scaleY(0.5);*/

}
.freeMaterialsHeading,
.topNewsHeading{
    text-align: center;
    margin-bottom: 50px !important;
    background-color: orange;
    padding: 40px 0;
}



.heroSectionWrapper{
    display: flex;
    margin-bottom: 85px;
    animation: fadeIn 1s;

}
.topNewsWrapper{}
.heroImageC img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    margin-top: 20px;
    animation: fadeIn 1s;
}
.heading{
    /*font-weight: bolder;*/
    font-size: 50px;

}

.afterHeading{
    font-size: 30px !important;
}
.beginBtn{
    background-color: #75A9AB;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    font-weight: bolder;
    border: none;
    align-self: flex-start;
    margin-top: 20px;
    font-size: 25px;
}
.callToActionBtsWrapper{
    display: flex;
    justify-content: center;
    margin-top: 140px;

}
.callToActionBtsC{
    width: 90%;
    display: flex;
    gap: 100px;
    /*justify-content: space-between;*/
}
.callToActionBtsC>*{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}
.callToActionBtsC :not(:last-child){
    background-color: #A73701;
}
@keyframes fadeIn {
  0%{
      opacity: 0;
      transform: translateY(70px);
  }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 800px){
    .callToActionBtsC{
        width: 50%;
        flex-direction: column;
        gap: 30px;
    }
    .callToActionBtsC>*{
        width: 100%;
    }
}
@media (max-width: 500px){
    .callToActionBtsC{
        width: 80%;
    }
}
@media (max-width: 1000px){
    .heroSectionWrapper{
        /*background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/hero.png");*/
        /*background-size: cover;*/
        /*border-left: 1px solid #dbd8cf;*/
        /*background: -moz-linear-gradient(left, #eee  0%,#fff 50%);*/
        /*box-shadow: -44px 120px 80px -72px #fff inset, -44px -120px 80px -72px #fff inset;*/
        flex-direction: column;
        gap: 60px;
        /*box-shadow: 0 30px 40px rgba(0,0,0,0.6);*/




    }
    .heroImageC{
        /*display: none;*/
    }
    .textC{
        padding:20px;
        text-align: center;
        max-width: 730px;
    }
    .textC>*:not(.beginBtn){
        background-color: white;
        border-radius: 20px;
    }
    .beginBtn{
        align-self: center;
    }
}
