.testWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transition: 1s;
}
.answersWrapper{
    width: 100%;
}
.questionsWrapper,
.answersC{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 100px 40px;
    overflow: visible !important;
    position: relative;
    width: 100%;
}

.questionsWrapper{
    /*flex-wrap: wrap;*/
}

.questionC{
    flex: 1;
    padding: 30px;
    /*min-width: 200px;*/
    border-radius: 10px;
    background-color: #4C6A69;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    overflow: visible ;
    user-select: none;
}

.answersWrapper{
    overflow: visible !important;
}


.questionFreeSpace{
    height: 60px;
    width: 90%;
    background-color: #75A9AB;
    border-radius: 10px;
    overflow: visible !important;
}


.innerAnswerC{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #75A9AB;
    border-radius: 10px;
    position: relative;
    user-select: none;
}

.innerAnswerC:hover{
    background-color: #ff003a;
    cursor: pointer;
}



.xmark{
    position: absolute;
    right: 15px;
    padding: 5px;
    border-radius: 100px;
    border: solid white 1px;
    top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
}

.answersMobileWrapper{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 60%;*/
    transition: 1s;
    overflow: visible;
}
.answersMobileC{
    position: relative;
    bottom: 0;
    left: 0;
    /*transform: translateY(-100%);*/
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    background-color: #EFEFEF;
    gap: 20px;
    align-items: center;
    width: 100%;
    /*height: 60%;*/
    overflow: visible;

}

.expandIcon{
    position: absolute;
    right: 20px;
    top: 20px;
    border: solid 1px black;
    padding: 20px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    z-index: 10000;
    background-color: #EFEFEF;
}
.checkAnswersBtn,
.continueBtn{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #A73701;
    color: white;
    padding: 20px 40px;
    border-radius: 30px;
    font-weight: bolder;
    border: none;
    align-self: flex-start;
    font-size: 25px;
}
.continueBtn{
    background-color: #75A9AB;
}
@media(max-width: 1100px){
    .questionsWrapper,
    .answersC{
        flex-direction: column;
        width: 40%;
    }
    .questionsWrapper{
        padding-bottom: 180px;
    }
    .answersWrapper{
        display: none;
    }
    .answersMobileWrapper{
        display: block;
    }
    .questionsWrapper{
        padding-top: 10px;
    }
}
@media(max-width: 1000px){
    .questionsWrapper,
    .answersC{
        width: 60%;
    }

}
@media(max-width: 650px){
    .questionsWrapper,
    .answersC{
        width: 90%;
    }

}
@media(max-width: 500px){
    .questionsWrapper,
    .answersC{
        width: 100%;
    }

}