.templateWrapper{
    display: flex;
    height: 100%;
    padding-left: 80px;
    position: relative;
    flex-direction: column;
    background-color: white;
}
.templateWrapper:nth-child(2){
    flex: 1;
}