.categoryBtnsC{
    display: flex;
    width: 100%;
    gap: 5px;
    height: 150px;
    /*padding: 0 32px;*/
    margin: 0;

}
.categoryBtn{
    padding: 15px;
    text-align: center;
    /*border: solid black 1px;*/
    border-radius: 10px;
    white-space: nowrap;
    background-color: #4c6a69;
    color: white;

}
.newsAndTopNews{
    flex-grow: 1;
    overflow-y: auto;
}
.newsWrapper{
    display: flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
    overflow-y: auto;
}
.newsContainer{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fill,350px);
    /*grid-template-rows: 1fr;*/
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 20px;
    padding-bottom: 140px;
}

.topNews{
    grid-column: 1 / -1;
    height: fit-content;
    overflow: visible;

    /*grid-area: first-column;*/

}
.news{
    width: 100%;
}
.image{
    aspect-ratio: 1/1;
}


.title{
    padding: 20px 30px;
    text-align: center;
    color: white;
    font-weight: bolder ;
    background-color: #00E0FF;
}

.sourceAndDateC{
    display: flex;
}
.sourceAndDateC>*{
    color: white;
    text-align: center;
    padding: 10px 0;
    flex: 1;
}
.sourceAndDateC .source{
    background-color: #FF0000;
}
.sourceAndDateC .date{
    background-color: #676767;
}


.description{
    background-color: white;
    padding: 20px;
}





.categoriesWrapper,
.hashtagsWrapper{
    padding: 60px 0 60px 30px;
    position: sticky;
    top: 0;
}
.categoriesList,
.hashtagsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 20px;
}
.label{
    color: #7e0030;
}
.category,
.hashtag{
    border-left: solid 0.1cm transparent;
    color: #75a9ab;
    padding-left: 7px;

}
.category:hover,
.hashtag:hover{
    border-left: solid 0.1cm red;
}
.newsElement{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*flex-grow: 1;*/

}
.catsMenuBtn,
.tagsMenuBtn{
    display: none;
    padding: 17px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    align-items: center;
    border: solid grey 1px;
    z-index: 99;
    font-size: 20px;
}
.catsMenuBtn{
    top: 20px;
    left: 20px;
}
.tagsMenuBtn{
    top: 20px;
    right: 20px;
}

@media (max-width: 500px){
    .categoryBtnsC,
    .hashtagsWrapper{
        display: none;
    }
    .catsMenuBtn,
    .tagsMenuBtn{
        display: flex;
    }
}