.newsMainWrapper{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
}


.categoryBtnsC{
    display: flex;
    width: 100%;
    gap: 5px;
    height: 69px;
    padding: 0 32px 10px 32px;
    margin: 0;

}
.categoryBtnsC>*{
    flex: 1;
}
.categoryBtn{
    padding: 15px;
    text-align: center;
    /*border: solid black 1px;*/
    border-radius: 10px;
    white-space: nowrap;
    background-color: #4c6a69;
    color: white;

}
.newsAndTopNews{
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}
.newsAndTopNews::-webkit-scrollbar{
    border-radius: 20px;
    background-color: #75a9ab;
}
.newsAndTopNews::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #4c6a69;
}



.newsWrapper{
    display: flex;
    height: 100%;
    position: relative;
    justify-content: space-between;
    overflow-y: auto;
    width: 100%;
}
.newsContainer{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fill,350px);
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
    /*max-width: 900px;*/
    /*align-self: end;*/
}

.topNews{
    grid-column: 1 / -1;
    height: fit-content;
    overflow: visible;

    /*grid-area: first-column;*/

}
.news{
    width: 100%;
}
.image{
    aspect-ratio: 1/1;
}


.title{
    padding: 20px 30px;
    text-align: center;
    color: white;
    font-weight: bolder ;
    background-color: #00E0FF;
}

.sourceAndDateC{
    display: flex;
}
.sourceAndDateC>*{
    color: white;
    text-align: center;
    padding: 10px 0;
    flex: 1;
}
.sourceAndDateC .source{
    background-color: #FF0000;
}
.sourceAndDateC .date{
    background-color: #676767;
}


.description{
    background-color: white;
    padding: 20px;
}

.categoriesWrapperOverlay{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 7777777777;
}
.categoriesWrapper{
    /*display: none;*/
    background-color: white;
    height: 80%;
    width: 70%;
    overflow-y: auto;
}
.categoriesWrapperOverlay.clicked{
    display: flex;
}

.tagsWrapperOverlay.clicked{
    display: flex;
}

.tagsWrapperOverlay{
    position: sticky;
    top: 0;
}



.categoriesWrapper,
.hashtagsWrapper{
    padding: 20px 60px 60px 60px ;
    position: sticky;
    top: 0;
    /*height: 100%;*/
}

.tagsWrapperOverlay:not(.clicked) .hashtagsWrapper{
    padding-top: 0;
}
.hashtagsWrapper .xmark{
    display: none;
}
.categoriesList,
.hashtagsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 20px;
}

.categoriesList{
 width: 100%;
}
.label{

    color: #7e0030;
}
.catName{
    /*color: #a73701;*/
    padding: 20px 0;
}
.xmark{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 100px;
    border: solid grey 1px;
    transition: 0.4s;
}
.xmark:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}
.category,
.hashtag{
    border-left: solid 0.1cm transparent;
    color: #75a9ab;
    padding-left: 7px;

}
.category:hover,
.hashtag:hover{
    border-left: solid 0.1cm red;
}
.newsElement{
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*flex-grow: 1;*/

}
.catsMenuBtn,
.tagsMenuBtn{
    display: none;
    padding: 17px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    align-items: center;
    border: solid grey 1px;
    z-index: 99;
    font-size: 20px;
}
.catsMenuBtn{
    top: 20px;
    left: 20px;
}
.tagsMenuBtn{
    top: 20px;
    right: 20px;
}

.showMoreCatsBtn{
    position: absolute;
    bottom: 0;
    width: 150px;
    /*width: fit-content;*/
    align-self: flex-end;
    background-color: #A73701;
    border-radius: 10px;

    padding: 5px 40px;
    color: white;
}

.seeMore{
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #a73701;
    width: 40%;
    align-self: center;
    position: relative;

}

@media (max-width: 700px){
    .categoryBtnsC,
    .hashtagsWrapper{
        display: none;
    }
    .catsMenuBtn,
    .tagsMenuBtn{
        display: flex;
    }



    .tagsWrapperOverlay{
        background-color: rgba(0, 0, 0, 0.57);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 7777777777;
    }
    .tagsWrapperOverlay.clicked .hashtagsWrapper{
        display: block;
        background-color: white;
        height: 80%;
        width: 70%;
        overflow-y: auto;

    }
    .tagsWrapperOverlay.clicked .hashtagsWrapper .tagName{
        padding: 20px 0;
    }
    .hashtagsWrapper .xmark{
        display: block;
    }


}
@media (max-width: 500px){
    .categoriesWrapper,
    .tagsWrapperOverlay.clicked .hashtagsWrapper{
        width: 90%;
    }
}