@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.fundament{
    position: relative;
    width: 300px;
    height: 400px;
    /*overflow-y: visible !important;*/


}
.behindBook{
    background-color: red;
    border-radius: 10px  ;
    border: 10px solid brown;
    /*transform: translateY(10px) translateX(60px);*/
    /*width: 80%;*/
    margin-left: auto;
    position: absolute;
    width: 95%;
    height: 95%;
    bottom: 0;
    right: 0;
    max-width: 300px;
    transform: scale(0.8) translateY(50px);
}
.paper{
    position: absolute;
    width: 95%;
    height: 95%;
    bottom: 3px;
    right: 3px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 25px;
    padding: 20px;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 300px;
    color: black;
    transform: scale(0.8) translateY(50px);
}
.paper:nth-child(3){
    bottom: 5px;
    right: 5px;
}
.paper:nth-child(4){
    bottom: 7px;
    right: 7px;
}

.bookElementWrapper{

    display: flex;
    max-width: 300px;
    width: 95%;
    height: 95%;
    position: absolute;
    bottom: 9px;
    right: 9px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 10px  ;
    border: 10px solid brown;
    transform: scale(0.8) translateY(50px);
    /*transform: translateY(-10px) translateX(-10px);*/
    /*box-shadow: 9px 9px 1px 1px rgba(100, 0, 0, 0.8);*/
    transition: 1s;

}
.bookElementWrapper:hover{
    transform:scale(0.8) rotate(-20deg) skewX(-200deg) translateX(-10px) translateY(-7px) ;
    /*position: relative;*/
    z-index: 99999;
}

.imageC{
    /*width: 300px;*/
    height: 240px;
    border-bottom: solid 1px;
}
.imageC img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.infoC {
    padding: 15px;
    /*flex:1 1 auto;*/
}
.year{
    position: absolute;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    border: solid 1px black;
    top: 238px;
    right: 10px;
    /*width: 60px;*/
    color: black;
    transform: translateY(-50%);
    z-index: 9;
}
.yearLabel{
    font-size: 16px;
    margin: 0;
}
.icon img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.bookName{
    white-space: nowrap;
    color: black;
    text-overflow: ellipsis;
    /*font-family: "Shantell Sans", serif;*/
}
.bookAuthor{
    color: #BDBDBD;
    /*font-family: "Shantell Sans", serif;*/
    font-size: 20px !important;
}
.genre{

    /*font-family: "Shantell Sans", serif;*/
}
.line{
    width: 3px;
    height: 100%;
    margin: 0 5px;
    display: inline-block;
    background-color: #BDBDBD;
    border-radius: 10px;
}
.container{
    display: flex;
    align-items: center;
    color: black;
}
.rating{

    /*font-family: "Shantell Sans", serif;*/
    border-radius: 5px;
}

