.bookSection{
    margin-top: 95px;
    padding-bottom: 45px;
    border-bottom: solid 2px grey;

}
.sectionHeader{
    margin-bottom: 40px;
    /*color: grey;*/
    font-weight: bolder;
    text-align: center;
}

.booksC{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    /*overflow: visible;*/


}
.bookC{

    text-decoration: none   ;
    color: black;
    display: flex;
    justify-content: center;
    /*overflow: visible;*/
    /*border-radius: 20px;*/
    /*max-width: 200px;*/
    /*margin: 15px;*/
    /*transition: 0.5s;*/
    /*box-shadow: 0 0 10px 5px rgb(53, 174, 31);*/
}
/*.bookC:hover{*/
/*    transform: translateY(-10px);*/
/*}*/
.bookC img{
    width: 100%;
}

