.bookSection{
    margin-top: 95px;
    padding-bottom: 95px;
    border-bottom: solid 2px #4C6A69;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: visible !important;

}

.sectionHeader{
    text-align: center;
    margin-top: 50px;
    color: white;
    margin-bottom: 20px !important;
}

.booksC{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    /*overflow: visible;*/
    overflow-y: visible !important;



}
.bookC{

    text-decoration: none   ;
    color: black;
    display: flex;
    justify-content: center;
    overflow-y: visible !important;
    /*overflow: visible;*/
    /*border-radius: 20px;*/
    /*max-width: 200px;*/
    /*margin: 15px;*/
    /*transition: 0.5s;*/
    /*box-shadow: 0 0 10px 5px rgb(53, 174, 31);*/
}
/*.bookC:hover{*/
/*    transform: translateY(-10px);*/
/*}*/
.bookC img{
    width: 100%;
}

.showMoreBtn{

    width: fit-content;
    align-self: center;
    margin-top: 50px;
    background-color: #A73701;
    border-radius: 20px;
    padding: 15px 40px;
    color: white;
}


